

body {
    background-color: #D2B48C;
}

table {
    width: 100%;
    height: 100%;
    background-color: #F08080;
    color: #FFFFFF;
}

tr:hover {
    
    background-color: #CCCCCC;
    
}

tr:nth-child(odd) {
    background-color: #EDEDED;
    color: #696969;
}




td {
    vertical-align: bottom;
}


#topRow {
    text-align: center;
    background-color: #FFFF99;
    color: #696969;
}

table, th,  td{
    
    padding: 5px;
    border: 1px solid #FFFFF;
    border-collapse: collapse;

}

th, td {
    padding: 5px;
}

